<div ng-controller="JobByLocationController">
  <button class="btn btn-primary" ng-click="getallProvinces()">Get Provinces</button>
  <select class="form-control form-inline" ng-change="getLocationsByProvince()" ng-model="province_id">
    <option>Select a Province</option>
    <option ng-repeat="x in provinces" value="{{x.id}}">{{x.name}}</option>
  </select>
  <h2>{{result.name}}</h2>
  <ul>
    <li ng-repeat="j in locations">{{j.name}} ({{j.id}})</li>
  </ul>
  <div class="detail" ui-view></div>
</div>
