<div ng-controller="ListingsCtrl">
<p>This is the listings view.</p>
<table class="table table-striped table-bordered">
    <tr class="header">
		<th>Level</th>	
		<th>Title</th>	
		<th>Location</th>					
		<th>Tags</th>
	</tr>			
	<tr ng-repeat="j in filteredData">
		<td>{{j.level}}</td>		
		<td>{{j.title}}</td>		
		<td>{{j.location}}</td>				
		<td><span ng-repeat="x in j.tags">{{x}}&nbsp;</span></td>
	</tr>		
</table>
<pagination total-items="jobs.length" ng-model="currentPage"></pagination>
</div>

