<div ng-controller="RestCtrl">
  <button class="btn btn-primary" ng-click="getallProvinces()">Start loading provinces</button>
  <h2>Result name: {{result.name}}</h2>
  <ul ng-show="provinces">
    <li ng-repeat="j in provinces"><a ui-sref="jobbylocation({locationId:{{j.id}}})">{{j.name}} ({{j.id}})</a> </li>
  </ul>
  <div ng-show="!provinces">No data!</div>
</div>
